/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body,input,textarea,select
	{
		font-size: 13pt;
		line-height: 1.65em;
	}

	.tweet
	{
		text-align: center;
	}

	.timestamp
	{
		display: block;
		text-align: center;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		padding: 4em 2em 4em 2em;
	}